  .wrapper
{
	display: flex-container-column;
	overflow:auto;
}
.tblElementsOfInterest
{
	display: flex-container-column;
}

.thHeader
{
	font-weight: bold;
}

.removebutton
{
	width:40%;
	max-width:20px;
	display:block;
	margin:0 auto;
	cursor:pointer
}

.table{
	text-overflow:ellipsis; 
	
}

.searchField{
	width: 90%;
	margin: 1% 2.5% 2% 2.5%;
}

.searchField select{
	width: 95%;
	max-height: 20px;
}

.searchField *{
	max-height: 25px;
}

.searchField input[type=text], .searchField select{
	display: block;
}

.searchField input[type=text]{
	padding-left: 10px;
}

.searchField.addExisting *{
    vertical-align: middle;
	margin: 0px;
}

.searchField.searchButton input{
	width: 50%;
}

#collapseSearch .searchField:first-child{
	margin-top: 2%;
}

.content-align{
	margin-left: 15px;
    margin-right: 10px;
    width: 100%;
}